<div class="card bg-light">     
    <div class="card-body">
        <div class="card-title fs-3 text-center">Uk Police Forces</div>
        <hr>
        <div class="row"> 
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h5>UK Police Forces</h5>
                        <hr>
                        <app-force-item
                        *ngFor="let force of forces"
                        [force]="force.name"></app-force-item>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>


